*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.carousel_slides{
    display: flex;
    width: 100%;
    transition: transform 1s ease-in-out;
    animation: slide 16s infinite;
}

.slide{
    flex:1 0 100%;
    width: 100%;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0%, 20% { transform: translateX(0); }
    25%, 45% { transform: translateX(-100%); }
    50%, 70% { transform: translateX(-200%); }
    75%, 95% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

input[type="radio"]{
    display: none;
}

.carousel_nav{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel_nav label{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

input#slide1:checked~.carousel_slides{
    transform: translateX(0);
    animation: none;
}
input#slide2:checked~.carousel_slides{
    transform: translateX(-100%);
    animation: none;
}
input#slide3:checked~.carousel_slides{
    transform: translateX(-200%);
    animation: none;
}
input#slide4:checked~.carousel_slides{
    transform: translateX(-300%);
    animation: none;
}

input#slide1:checked~.carousel_nav label:nth-child(1),
input#slide2:checked~.carousel_nav label:nth-child(2),
input#slide3:checked~.carousel_nav label:nth-child(3),
input#slide4:checked~.carousel_nav label:nth-child(4){
    background-color:grey;
}